

{% extends 'base.html'%}
{% load static %}
{% block style %}

{% endblock %}
{% block profile %}
<div class="fh5co-bio">
			<figure>
				<img src="{{ user.profile_picture.url }}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
			</figure>
			<h3 class="heading">About Me</h3>
			<h2>{{ user.name }}</h2>
			<h2>{{ user.email }}</h2>
			<p> {{ user.details }}</p>
			<ul class="fh5co-social">
				<li><a href="#"><i class="icon-twitter"></i></a></li>
				<li><a href="#"><i class="icon-facebook"></i></a></li>
				<li><a href="#"><i class="icon-instagram"></i></a></li>
			</ul>
		</div>
{% endblock %}


{% block content %}
   <div class="container">
       <a href="{% url 'create' %}" class="btn btn-primary pull pull-right">Add New Article</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Post Date</td>
                    <td>Action</td>
                    
                </tr>
            </thead>
            <tbody>
                {% for  p in post %}
                    <tr>
                        <td>{{ p.title }}</td>
                        <td>{{ p.posted_on }}</td>
                        <td><a href="{% url 'delete' id=p.id%}"> Delete</a> | <a href="{% url 'update' id=p.id%}">Edit</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
   </div>
{% endblock %}
