{% extends 'base.html'%}
{% load static %}

{% block style %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div clas="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Login to your Account</h3>
                  </div>
                  <div class="panel-body">
                      <form action="" method="POST">
                          {% csrf_token %}
                          <div class="form-group">
                            <label for="exampleInputEmail1">User Name</label>
                            <input type="text" name="user" class="form-control" id="exampleInputEmail1" placeholder="Enter your user name">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" name="pass" class="form-control" id="exampleInputPassword1" placeholder="Enter your Password">
                          </div>

                          <button type="submit" class="btn btn-default">login</button>
                        </form>
                  </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}